<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <style>
        .message-content {
            font-family: Arial, Helvetica, sans-serif;
            max-width: 600px;
            font-size: 18px;
            line-height: 21px;
        }
    </style>
</head>

<body>
    <div class="message-content">
        <p>Olá, {{.Name}}</p>
        <p>Parece que uma troca de senha para sua conta foi solicitada.</p>
        <p>Se foi você, então clique no link abaixo para escolher uma nova senha:</p>
        <p>
            <a href="{{.Link}}">Resetar minha senha</a>
        </p>
        <p>se não foi você, então descarte esse email!</p>
        <p>
            Obrigado! <br />
            <strong>Equipe GoBarber</strong>
        </p>
    </div>
</body>

</html>